.student-card {
  display: flex;
  border-bottom: 1px #efefef solid;
  padding: 1rem 2rem;
}

.student-card .profile-pic {
  width: fit-content;
}

.student-card .profile-pic img {
  height: 125px;
  border-radius: 100%;
  border: 2px #efefef solid;
}

.student-card h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  margin: 0 0 1rem 0;
}

.student-card .data {
  padding-left: 3rem;
  flex-grow: 1;
}

.student-card .plus {
  align-self: flex-start;
  font-size: 5rem;
  background: initial;
  border: initial;
  padding: initial;
  cursor: pointer;
  color: grey;
}

.student-card .data .details {
  margin-left: 2rem;
}

.student-card .data .details div {
  padding-bottom: 0.5rem;
}
